*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #4c68ff;
    z-index: 5;
}
.logo-h1{
    color: white;
    font-size: 20px;
    font-family: sans-serif
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px; 
    background-color: #A1A1A1;
}
::-webkit-scrollbar-thumb{
    width: 10px; 
    background-color: #4C68FF;
}
/* Main Section Started */
/* Main Section Started */
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-left: 20px;
    margin-right: 20px;
}
.login-outside{
    display: flex;
    justify-content: center;
    background-color: #FFF6F6;
    width: 37rem;
    height: 38rem;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 4px #393535;
    flex-direction: column;
    margin-bottom: 20px;
}
h4{
    font-size: 16px;
}
.login-inputs{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.input1::placeholder{
    color: #3f9586;
}
.input1{
    padding: 20px 250px 20px 23px;
    text-align: left;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    background: none;
    font-weight: 700;
}
.name-input{
    padding: 20px 250px 20px 23px;
    text-align: left;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    background: none;
    font-weight: 700;
}
.main-btn button{
    margin-top: 21px;
    padding: 13px 40px;
    background-color: #4C68FF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}
.file-btns{
    padding-top: 35px;
    padding-bottom: 13px;
}
.register a{
    text-decoration: none;
    color: #4C68FF;
    text-transform: capitalize;
    margin-top: 15px;
}
.register{
    margin-top: 15px;
}

input[type="file"]{
    display: none;
}
label{ 
    padding: 15px 29px;
    background-color: #4C68FF;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
}
.btn-2{
    padding: 20px 103px 20px 19px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    border: 1px solid #A1A1A1;
    background: none;
    color: #a1a1a1;
    font-weight: 700;
}





















/* Media Queries */
/* Media Queries */

/* Nav */
@media (max-width:880px) {
    .logo-h1{
        text-align: center;
    }
}
/* Nav End */
/* Nav End */

/* Main Section Started */
/* Main Section Started */
@media (max-width:560px) {
    .input1 , .name-input{
        padding: 16px 177px 16px 23px;
    }
    label{
        font-size: 12px;
    }
    .main-btn button{
        font-size: 12px;
    }
}
@media (max-width:455px) {
    .input1 , .name-input{
        padding: 16px 90px 16px 23px;
    }
    label{
        font-size: 11px;
    }
    .main-btn button{
        font-size: 11px;
    }
}

@media (max-width:398px) {
    .login-inputs{
        align-items: center;
    }
    input{
        padding: 19px 41px 15px 27px;
        text-align: center;
    }
    .register a{
        font-size: 14px;
    }
    .input1 , .name-input{
        padding: 16px 85px 16px 23px;
    }
    label{
        font-size: 10px;
    }
    .main-btn button{
        font-size: 10px;
    }
}