*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .5s ease-in-out;
}
/* Nav-Bar Started */
/* Nav-Bar Started */
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #4c68ff;
    z-index: 5;
}
.nav-icons img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    cursor: pointer;
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-icon-img1{
    width: 30px;
}
.nav-icon-img2{
    width: 40px;
}
.logo-h1{
    color: white;
    font-size: 20px;
    font-family: sans-serif
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 40px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px; 
    background-color: #A1A1A1;
}
::-webkit-scrollbar-thumb{
    width: 10px; 
    background-color: #4C68FF;
}
/* Nav-Bar Ended */
/* Nav-Bar Ended */

/* Main Section Started */
/* Main Section Started */


.main-section-outside{
    padding: 30px;
}
.main-section-inside{
    margin-top: 82px;
    background-color: #FEF5F5;
    padding: 0 67px;
    border-radius: 10px;
    padding-bottom: 30px;
}
.search-section {
    padding-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-section input{
    padding: 16px 76% 15px 52px;
    background: none;
    border: 1px solid #a3a3a3;
    border-radius: 6px;
}
.main-section-h1{
    padding-top: 30px;
}

/* Card Section Started */
/* Card Section Started */
.main-cards{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.card{
    width: 307px;
    height: 20rem;
    border-radius: 13px;
    border: 1px solid #A1A1A1;
    
}
.card-text{
    padding: 20px;
}
.card-img img{
    width: 19rem;
}
.card-p{
    padding-right: 39px;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 15px;
    color: #A1A1A1;
}
.text1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text2{
    display: flex;
    padding-top: 30px;
    gap: 33px;
    align-items: center;
}
.card-price h3{
    color: #494949;
}
.card-head h4{
    color: #494949;
}
.card-btn button{
    padding: 13px 28px;
    border: none;
    background-color: #F000B8;
    border-radius: 7px;
    color: white;
    font-size: 11px;
    cursor: pointer;
}














/* Media Queries */
/* Media Queries */

/* Nav */
@media (max-width:1256px) {
    .search-section-img2{
        display: none;
    }
}
@media (max-width:1104px) {
    .search-section input{
        padding: 16px 67% 15px 41px;
    }
}
@media (max-width:880px) {
    .logo-h1{
        text-align: center;
    }
    .search-section input{
        padding: 16px 67% 15px 41px;
    }
}

@media (max-width:850px) {
    .logo-h1{
        text-align: center;
    }
    .search-section input{
        padding: 16px 67% 15px 41px;
    }
    .main-section-h1{
        text-align: center;
    }
}
@media (max-width:813px) {
    .search-section input{
        padding: 16px 55% 15px 41px;
    }
}
@media (max-width:660px) {
    .search-section input{
        padding: 16px 57% 15px 30px;
    }
    .card , .card-img img{
        width: 17rem;
    }
    .main-section-h1{
        font-size: 25px;
    }
    .search-section input{
        padding: 16px 30% 15px 41px;
    }
}
@media (max-width:550px) {
    .search-section input{
        padding: 11px 37% 11px 25px;
    }
    .main-section-h1{
        font-size: 23px;
    }
    .search-section input{
        padding: 12px 19% 12px 27px;
    }
    .search-section-img1{
        width: 20px;
    }
    .main-section-inside{
        padding: 0 64px;
    }
}
@media (max-width:430px) {
    .main-section-h1{
        font-size: 22px;
    }
    .search-section input{
        padding: 12px 0% 12px 15px;
    }
    .search-section-img1{
        width: 25px;
    }
    .main-section-inside{
        padding: 0 40px;
    }
}
@media (max-width:380px) {
    .main-section-h1{
        font-size: 22px;
    }
    .card , .card-img img{
        width: 14.5rem;
    }
    .text2{
        gap: 0px;
    }
    .card-btn button{
        padding: 10px 22px;
    }
    .search-section input{
        padding: 12px 0% 12px 15px;
    }
    .search-section-img1{
        width: 25px;
    }
    .main-section-inside{
        padding: 0 33px;
    }
}
/* Nav End */
/* Nav End */

/* Main Section Started */
/* Main Section Started */
